@font-face {
    font-family: 'Jungle'; 
    src: url('../../fonts/AfrikaTUbuntu.ttf') format('truetype'), 
         url("../../fonts/AfrikaTUbuntu.woff") format("woff"), 
         url("../../fonts/AfrikaTUbuntu.woff2") format("woff2"); 
    font-weight: normal;
    font-style: normal;
}  

/* Adjust anchor point for navbar height */
:target:before {
    content: "";
    display: block;
    height: 78px; /* Adjust this value according to your navbar height */
    margin: -78px 0 0; /* Negative margin equal to navbar height */
}

.main_image {
    padding: 0px !important;
}

.babs_logo {
    width: 13vw;
}

.babs-nav {
    left: 10px;
    position: absolute;
}

.nav-item {
    font-size: 30px !important;
}

#navbar-colors {
    background-color: #112754 !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffd56c;
}

.nav-link:hover {
    color: aliceblue !important;
}

.nav-link:focus {
    color: #ffd56c !important;
}

.second_sect {
    height: 300px;
    background-color: #ffd56c;
    position: relative;
    display: inline-block;
}

.second_sect img {
    position: absolute;
    bottom: 5px;
    left: 10px;
}

.sect_img {
    max-height: 90%;
}

.image-vine {
    position: absolute;
    top: 5;
    left: 5;
}

.about_text {
    padding: 20px 50px 0px 10px;
}

.about_text h1, .about_text p, .token_text h2, .token_text h1, .token_text p, .nft_text h1, .nft_text p, .fourth_sect h1, .nav-item, .sixth_sect h3, .sixth_sect p {
    font-family: "Jungle";
}

.about_text p {
    font-size: 18px;
}

.third_sect {
    height: 300px;
    background-color: #343357;
    position: relative;
    display: inline-block;
}

.third_sect img {
    position: absolute;
    bottom: 0;
    right: 0;
}

.sect3_img {
    max-height: 100%;
}

.token_text {
    color: #ffd56c;
    padding-left: 20px;
    padding-top: 15px;
}

.socials img {
    width: 50px;
    height: 50px;
    margin: 0px 10px;
}

@keyframes slide {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.nft_title {
    text-align: center;
    margin: 0;
    padding: 0;
}

.nft_title {
    color: #ffd56c;
}

.fourth_sect img {
    height: 200px;
    width: 200px;
}

.fourth_sect {
    height: 300px;
    background-color: #cd7e54;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    padding: 8px 0px;
}

.balls_imgs {
    display: inline-block;
    animation: 35s slide infinite linear;
}

.fourth_sect:hover .balls_imgs {
    animation-play-state: paused;
}

.balls_imgs img{
    margin: 0px 50px;
}

.fourth_sect:before, .fourth_sect:after {
    position: absolute;
    top: 0;
    width: 200px;
    height: 100%;
    content: "";
    z-index: 2;
}

.fourth_sect:before {
    left: 0;
    background: linear-gradient(to left, rgba(205, 126, 84, 0), rgb(235, 198, 106));
}

.fourth_sect:after {
    right: 0;
    background: linear-gradient(to right, rgba(205, 126, 84, 0), rgb(235, 198, 106));
}

.fifth_sect {
    height: 300px;
    background-color: #013c2e;
    position: relative;
}

.fifth_sect img {
    position: absolute;
    bottom: 0;
    left: 0;
}

.sect5_img {
    max-height: 100%;
}

.nft_text {
    padding-top: 65px;
    color: #ffd56c;
}

.sixth_sect {
    height: 300px;
    background-color: #343357;
    position: relative;
}

.seventh_sect {
    height: 300px;
    background-color: #fff391;
    position: relative;
    display: inline-block;
}

.seventh_sect img {
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.info_text {
    color: #ffd56c;
    text-align: center;
    padding-top: 50px;
}

.left_base img {
    width: 100px;
}

.left_base h3 span {
    font-family: 'Times New Roman', Times, serif;
}

.right_base {
    padding-top: 70px;
}

.eight_sect {
    height: 300px;
    background-color: #e83333;
}

.heading h1 {
    font-family: "Jungle";
    text-align: center;
}

.team {
    position: relative; /* Added to contain the image */
}

.team img {
    max-width: 100%; /* Added to contain the image within its parent */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 5px solid #343357;
    display: block;
}

.team h2 {
    position: absolute;
    bottom: 0; /* Positioning at the bottom */
    left: 50%;
    transform: translateX(-50%);
}

@media(max-width: 1001px) {
    .about_text p {
        font-size: 16px;
    }
    .about_text h1 {
        font-size: 25px;
    }
    .about_text {
        padding: 30px 50px 0px 30px;
    }
}

@media(max-width: 944px) {
    .about_text p {
        font-size: 16px;
    }
    .about_text h1 {
        font-size: 23px;
    }
    .about_text {
        padding: 30px 50px 0px 40px;
    }
}

@media(max-width: 890px) {
    .about_text {
        padding: 30px 30px 0px 50px;
    }
    .about_text p {
        font-size: 15px;
    }
}