@font-face {
    font-family: 'Jungle'; 
    src: url('../../fonts/AfrikaTUbuntu.ttf') format('truetype'), 
         url("../../fonts/AfrikaTUbuntu.woff") format("woff"), 
         url("../../fonts/AfrikaTUbuntu.woff2") format("woff2"); 
    font-weight: normal;
    font-style: normal;
}  

/* Adjust anchor point for navbar height */
:target:before {
    content: "";
    display: block;
    height: 78px; /* Adjust this value according to your navbar height */
    margin: -78px 0 0; /* Negative margin equal to navbar height */
}

.main_image {
    padding: 0px !important;
}

.babs_logo {
    width: 13vw;
}

.babs-nav {
    left: 10px;
    position: absolute;
}

.nav-item {
    font-size: 30px !important;
}

#navbar-colors {
    background-color: #112754 !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffd56c;
}

.nav-link:hover {
    color: aliceblue !important;
}

.nav-link:focus {
    color: #ffd56c !important;
}

.second_sect {
    height: 300px;
    background-color: #ffd56c;
    position: relative;
    display: block;
}

.second_sect img {
    position: absolute;
    bottom: 5px;
    left: 10px;
}

.sect_img {
    max-height: 90%;
}

.image-vine {
    position: absolute;
    top: 5;
    left: 5;
}

.about_text {
    padding: 20px 50px 0px 10px;
}

.about_text h1, .about_text p, .token_text h2, .token_text h1, .token_text p, .nft_text h1, .nft_text p, .fourth_sect h1, .nav-item, .sixth_sect h3, .sixth_sect p, .team_text {
    font-family: "Jungle";
}

.about_text_seven h1 {
    color: #ffd56c;
}

.about_text p {
    font-size: 18px;
}

.third_sect {
    height: 350px;
    background-color: #343357;
    position: relative;
    display: inline-block;
}

.third_sect img {
    position: absolute;
    bottom: 0;
    right: 0;
}

.token_text {
    max-width: 100%;
}

.token_text h2 {
    font-size: 2em;
    line-height: 1.4;
}

.sect3_img {
    height: 350px;
}

.tokenomics {
    box-sizing: content-box !important;
}

.token_text {
    color: #ffd56c;
    padding-left: 20px;
    padding-top: 15px;
}

.about_text_seven {
    color: #ffd56c;
}

.socials img {
    width: 50px;
    height: 50px;
    margin: 0px 10px;
}

@keyframes slide {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.nft_title {
    text-align: center;
    margin: 0;
    padding: 0;
}

.nft_title {
    color: #ffd56c;
}

.fourth_sect img {
    height: 200px;
    width: 200px;
}

.fourth_sect {
    height: 400px;
    background-color: #cd7e54;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    padding: 8px 0px;
}

.balls_imgs {
    display: inline-block;
    animation: 35s slide infinite linear;
    margin-top: 50px;
}

.fourth_sect:hover .balls_imgs {
    animation-play-state: paused;
}

.balls_imgs img{
    margin: 0px 50px;
    border: 5px solid #ffd56c;
}

.fourth_sect:before, .fourth_sect:after {
    position: absolute;
    top: 0;
    width: 200px;
    height: 100%;
    content: "";
    z-index: 2;
}

.fourth_sect:before {
    left: 0;
    background: linear-gradient(to left, rgba(205, 126, 84, 0), rgb(235, 198, 106));
}

.fourth_sect:after {
    right: 0;
    background: linear-gradient(to right, rgba(205, 126, 84, 0), rgb(235, 198, 106));
}

.fifth_sect {
    height: 300px;
    background-color: #013c2e;
    position: relative;
}

.fifth_sect img {
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.sect5_img {
    max-height: 100%;
}

.nft_text {
    padding-top: 65px;
    color: #ffd56c;
}

.sixth_sect {
    height: 300px;
    background-color: #343357;
    position: relative;
}

.seventh_sect {
    height: 300px;
    background-color: #2e2f5b;
    position: relative;
    display: inline-block;
}

.seventh_sect .sect_img {
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.seven_text {
    padding-top: 20px;
    padding-left: 50px;
}

#one {
    padding-left: 10px;
}

#two {
    padding-left: 50px;
}

#three {
    padding-left: 90px;
}

#four {
    padding-left: 130px;
}

#five {
    padding-left: 170px;
}

.seven_text p img {
    height: 20px;
}

.info_text {
    color: #ffd56c;
    text-align: center;
    padding-top: 50px;
}

.left_base img {
    width: 100px;
}

.left_base h3 span {
    font-family: 'Times New Roman', Times, serif;
}

.right_base {
    padding-top: 70px;
}

.eight_sect {
    background-image: url(../images/team_background1.png);
    background-size: cover;
    min-height: 700px;
}

.heading h1 {
    font-family: "Jungle";
    text-align: center;
}

.team {
    text-align: center;
    margin-bottom: 20px;
}

.team img {
    display: block;
    margin: 0 auto;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 5px solid #343357;
}

.team_img_one {
    position: relative;
    left: 295px;
    top: 10px;
}

.team_img_two {
    position: relative;
    left: 320px;
    top: -8px;
}

.team_img_three {
    position: relative;
    top: -20px;
    left: 10px;
}

.trial {
    display: inline-block;
}

.team h2 {
    margin-top: 10px;
    font-size: 18px;
    font-family: "Jungle";
}

.team_text_one {
    padding-left: 0px;
    padding-top: 33px;
}

.team_text_two {
    padding-left: 109px;
    padding-top: 20px;
}

.team_text_three {
    padding-left: 41px;
    padding-top: 20px;
}

@media(max-width: 1600px) {
    .about_text p {
        font-size: 20px;
    }
    .about_text {
        padding: 30px 50px 0px 0px;
    }
}

@media(max-width: 1300px) {
    .about_text p {
        font-size: 18px;
    }
    .about_text {
        padding: 30px 50px 0px 20px;
    }
}

@media(max-width: 1009px) {
    .about_text p {
        font-size: 16px;
    }
    .about_text h1 {
        font-size: 25px;
    }
    .about_text {
        padding: 30px 50px 0px 30px;
    }
    .sect_img {
        max-height: 80%;
    }
    .second_sect img {
        bottom: 43px;
    }
    .token_text h2 {
        font-size: 20px;
        line-height: 1.4;
    }
    .third_sect {
        height: 300px;
    }
    .sect3_img {
        height: 300px;
    }
    .col-space-5 {
        max-width: 10%;
    }
    .fifth_sect {
        height: 250px;
    }
    .nft_text {
        padding-top: 25px;
    }
    .fifth_sect img {
        opacity: 50%;
    }
    .seventh_sect {
        height: 250px;
    }
}

@media(max-width: 900px) {
    .third_sect {
        height: 250px;
    }
    .sect3_img {
        height: 250px;
    }
    .token_text h1 {
        font-size: 36px;
    }
    .token_text h2 {
        font-size: 19px;
        line-height: 1.2;
    }
    .seven_text {
        padding-left: 15px;
    }
    .seventh_sect .sect_img {
        bottom: 30px;
    }
}

@media(max-width: 861px) {
    .seventh_sect {
        height: 220px;
    }
    .seven_text {
        padding-left: 15px;
    }
}

@media(max-width: 846px) {
    .about_text p {
        font-size: 15px;
    }
    .about_text h1 {
        font-size: 23px;
    }
    .about_text {
        padding: 30px 10px 0px 30px;
    }
    .sect_img {
        max-height: 70%;
    }
    .second_sect img {
        bottom: 33px;
    }
    .fourth_sect img {
        height: 150px;
        width: 150px;
    }
    .balls_imgs {
        margin-top: 25px;
    }
    .fourth_sect {
        height: 300px;
    }
}

@media(max-width: 750px) {
    .about_text p {
        font-size: 11px;
    }
    .about_text h1 {
        font-size: 25px;
    }
    .about_text {
        padding: 30px 10px 0px 0px;
    }
    .second_sect {
        height: 220px;
    }
    .third_sect {
        height: 220px;
    }
    .sect3_img {
        height: 220px;
    }
    .token_text h1 {
        font-size: 33px;
    }
    .token_text h2 {
        font-size: 18px;
        line-height: 1.2;
    }
}

@media(max-width: 768px) {
    .third_sect img {
        opacity: 50%;
    }
}

@media(max-width: 700px) {
    .fourth_sect img {
        height: 120px;
        width: 120px;
    }
    .balls_imgs {
        margin-top: 15px;
    }
    .fourth_sect {
        height: 250px;
    }
    .nft_title h1 {
        font-size: 2rem;
    }
    .fourth_sect:before, .fourth_sect:after {
        display: none;
    }
    .col-space-5-p {
        min-width: 100% !important;
    }
    .col-space-5-p h1 {
        font-size: 2rem;
    }
    .col-space-5-p p {
        font-size: 18px;
    }
}

@media(max-width: 641px) {
    .col-space-5-p h1 {
        font-size: 1.8rem;
    }
    .col-space-5-p p {
        font-size: 15px;
    }
    .fifth_sect {
        height: 200px;
    }
    .seventh_sect .sect_img {
        opacity: 50%;
    }
}

@media(max-width: 590px) {
    .second_sect img {
        opacity: 40%;
    }
    .col-space-2 {
        min-width: 100%;
    }
    #one, #two, #three, #four, #five {
        padding-left: 5px;
    }
}

@media(max-width: 540px) {
    .col-space-5-p h1 {
        font-size: 1.7rem;
    }
    .col-space-5-p p {
        font-size: 12px;
    }
    .about_text {
        padding: 10px 10px 0px 0px;
    }
}
